body {
  background-color: rgb(49, 49, 49);
  color: white;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}

.habit-reset {
  background-color: rgb(57, 116, 134);
  font-size: 1.4rem;
  margin-left: 0.4em;
  padding: 0.1em 0.4em;
  color: rgb(238, 255, 252);
}

.habit-reset:hover {
  opacity: 0.8;
}
